<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            <p>{{- site.description | escape -}}</p>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
        <p>&copy; 2022 Justin Pease & <a href="https://github.com/jpease/timogin/graphs/contributors">Contributors</a>.</p>
        <p>You are encouraged to make use of <a href="https://github.com/jpease/timogin">the content of this site</a> under the simple terms of the <a href="https://github.com/jpease/timogin/blob/main/LICENSE">MIT License</a>.</p>
      </div>
    </div>

  </div>

</footer>

